.Body {
    text-align: center;
  }

.Body a{
    font-weight: 7px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #333333;
}

.Body a:hover{
    background-color: darkgray;
    color: darkred;
}