.header {
  height: 80px;
  background: #ffdb73;
}


.title {
  width: 201px;
  height: 80px;
  margin-top: 00px;
}

.header li {
  list-style: none;
}

/*メニュー部分*/
#ham-menu {
  background-color: #ffdb73; /*メニュー背景色*/
  box-sizing: border-box;
  height: 100%;
  padding: 10px 40px; /*メニュー内部上下左右余白*/
  position: fixed; /*ハンバーガーメニューの固定*/
  right: -300px; /*メニュー横幅①と合わせる*/
  top: 0;
  transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
  width: 300px; /*メニュー横幅①*/
  z-index: 1000;
}

/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
  background-color: #ffdb73; /*ボタン部分背景色*/
  border-radius: 10px 0 0 10px; /*左下と左上角丸*/
  color: rgb(65, 61, 61); /*アイコン（フォント）色*/
  content: "≡"; /*メニューアイコン*/
  display: block;
  font-size: 60px; /*アイコン（フォント）サイズ*/
  height: 60px;
  line-height: 50px; /*縦位置中央化*/
  position: absolute;
  right: 100%;
  text-align: center;
  top: 8px;
  width: 50px;
}

/*透過背景部分*/
#menu-background {
  background-color: #333; /*黒背景部分背景色*/
  display: block;
  height: 100%;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
  width: 100%;
  z-index: -1;
}

/*hover 時の処理*/
#ham-menu:hover {
  transform: translate(-300px); /*メニュー横幅①と合わせる*/
}

#ham-menu:hover + #menu-background {
  opacity: 0.5; /*黒背景部分透過度*/
  z-index: 999;
}

.header-contents h3:hover{
  cursor: pointer;
}
 /* HeaderStore.jsのCSS */
.header-contents h2{
  float: right;
  font-size: 18px;
  margin-top: 25px;
  margin-right: 60px;
  margin-left: 0px;
}
