/* Login.js */
.login-page{
    margin:  150px auto;
    width: 800px;
}

.social-login-button{
    margin:  0 auto;
    margin-top: 80px;
    padding: 20px 15px 20px 15px; 
    width: 500px;
    border-bottom: 2px solid gray;
}

.social-button{
    margin: 30px 0px 20px 0px;
}

.input-form{
    margin: 20px auto;
    width: 480px;   
}

input[type=email]{
    width: 480px;
    height: 25px;
    color:black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

input[type=text]{
    width: 480px;
    height: 25px;
    color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

input[type=password]{
    width: 480px;
    height: 25px;
    color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

.input-form button{
    width: 480px;
    height: 30px;
    margin: 40px auto;
    margin-left: 0px;
    text-align: center;
    border-bottom: 0.1875em solid #D2B48C;
    background-color: #ffdb73;
    color: #fff;
    font-size: 21px;
    font-weight: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.input-form button:hover{
    cursor: pointer;
    border-bottom-color: transparent;
    transform: translateY(0.1875em);
}

.login-page h3{
    margin: 15px auto;
    text-align: center;
    text-decoration: underline;
}

.login-page h3:hover{
    color: #C0C0C0;
    cursor: default;
}

/* SignUp.js */
.input-form label{
    margin-top: 20px;
    float: left;
}

.signup-container{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

input[type=checkbox]{
    width: 25px;
    height: 25px;
    margin-top: 20px;
    float: left;
}

.comp-button{
    color: white;
    font-weight: 10px;
    margin: 60px auto;
    width: 400px;
    background-color: gray;
    border-radius: 10px 10px 10px 10px;
}

.comp-button:hover{
    background-color: #ffdb73;
}

.imput-form h2{
    margin-left: 40px;
}

/* MailCheck.css */
.mailcheck-container{
    margin: 70px auto;
    text-align: center;
}

.account-miss h2{
    text-decoration: underline;
}