.main{
  height: 800px;
}

.bg-image {
  height: 800px;
  background-image: url(../bg_photo/photo_1.jpg);
  background-size: cover;
}

.bg-mask {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}