.main{
  height: 1200px;
}

.bg-image {
  height: 800px;
  background-image: url(../image/photo_1.jpg);
  background-size: cover;
}

.bg-mask {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.recommend{
  height: 200px;
}