.recommend-items{
    height: 1000px;
}

.recommend-items h3{
    margin-top: 50px;
    margin-left: 15px;
}

.recommend-items h4{
    color: gray;
    float: right;
    margin-right: 20px;
}

.recommend-items h4:hover{
    color: #FF6666;
    cursor: pointer;
    text-decoration: underline;
}

.recommend-items img{
    height: auto;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}