.view {
  top: 160px;
  left: 300px;
  padding-left: 8px;
  position: absolute;
  background-color: white;
  border-radius: 6px;
}

.box-view {
  width: 390px;
  height: 480px;
}

.box-view h1 {
  text-align: center;
}

.serch-area p {
  color: #202122;
  font-weight: 10px;
  margin-top: 32px;
  margin-left: 18px;
  margin-bottom: 8px;
}

.key-word h3 {
  padding-top: 5px;
  margin-left: 17px;
}

.key-word input {
  box-sizing: border-box;
  background-color: #fff;
  color: #0c0d0e;
  width: 300px;
  height: 35px;
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
  margin-left: 18px;
  border: 1px solid #bac6d3;
  border-radius: 3px;
  display: block;
}

.box-view input[type="submit"] {
  color: #fff;
  width: 150px;
  height: 48px;
  font-size: 17px;
  background-color: #f5c020;
  border: none;
  margin-top: 32px;
  margin-left: 200px;
  cursor: pointer;
}

.select-box {
  width: 300px;
  margin-left: 18px;
  font-weight: 2px;
}
