.StoreDetailNoitem-Container{
    height: 1100px;
}
.message-inStoreDetailNoitem{
    margin:50px auto;
}
.message-inStoreDetailNoitem h1{
    font-weight: 400;
    margin: 5px auto;
    width:500px;
}