h1{
    font-weight: 400;
    font-size: 40px;
}

.item-name h3 {
    padding-top: 5px;
    margin-left: 17px;
  }
  
input {
    box-sizing: border-box;
    background-color: #fff;
    color: #0c0d0e;
    width: 300px;
    height: 35px;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 18px;
    border: 1px solid #bac6d3;
    border-radius: 3px;
    display: block;
  }

  .item-price{
    width:500px;
    height: 35px;
    position: relative; /*　.enのabsoluteと作用　*/
  }
  .en{
    font-weight: 400;
    font-size: 18px;
    position:absolute; /*　.enのabsoluteと作用　*/
    left:280px;
    top:5px;
    margin:0;
  }

  .box-store-input {
  }