.store-container{
    margin-top: 15px;
    width: 850px;
    height: 100vh;
    border-right:1px solid gray;
}

.store-detail{
    display: inline-flex;
}

.store-detail h1{
    margin-left: 30px;
}

.store-info{
    display: inline-flex;
}

.store-info img{
    margin: 20px;
    height: 300px;
    width: 400px;
}

.zip{
    margin-block-end: 0px;
}

.address{
    margin-top: 0px;
}

.onSale-container{
    margin-left: 60px;
    width: 400px;
    height: 100vh;
}

.title h1{
    margin-top: 35px;
    width: 200px;
}

.onSale-items{
    border: 1px solid rgb(197, 195, 195);
    margin-top: 10px;
    margin-left: 30px;
    width: 276px;
    height: 260px;
}

.items-info h2{
    margin-left: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.items-info h3{
    margin-left: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
