/* UserDeal.jsのCSS */
.main-deal{
    width: 100%;
    margin-top: 8px;
    margin-left: 0px;
    display: inline-flex;
}

.book-container{
    margin-left: 25px;
    width: 850px;
    height: 100vh;
    border-right:1px solid gray;
}

.book-container h1{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 28px;
}

.tradingHistory-container{
    margin-left: 20px;
}


.tradingHistory-container h1{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 28px;
}

/* DealFoodComponent.jsのCSS */

.dealfood-container{
    display: block;
}

.dealfood-component{
    width: 100%;
    display: inline-flex;
}

.dealfood-image img{
    width: 250px;
    height: 250px;
}

.dealfood-info{
    width:100%
}

