
.check-area-inUserItemConfirm{
    margin:auto;
    margin-top: 80px;
    padding: 0.5em 1em;
    font-weight: bold;
    border: 4px solid #bac6d3;
    width: 410px;
    height: 340px;
}
.check-area-inUserItemConfirm{
    font-size: 25px;
    font-weight:600;
}

.mainarea-inUserItemConfirm{
    text-align: center;
}
